
body {
  background: var(--whiteSecondary);
}

#app {
	height: 100vh;
	padding: 0px 24px;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
}

:root {
--whitePrimary: #fff;
--whiteSecondary: #F7F5F5;
--orangePrimary: #EF6327;
--redPrimary: #f31;
}
