$whitePrimary: #fff;
$whiteSecondary: #F7F5F5;
$black: #000;
$orangePrimary: #EF6327;
$redPrimary: #f31;
$yellow: #FF9900;
$shadow: 0 rem(4) rem(8) rgba(30, 60, 90, 0.1);
$shadowAlt: 0 rem(6) rem(12) rgba(30, 60, 90, 0.2);