@mixin view-default {
	display: flex;
  align-items: center;
  justify-content: center;
	height: 100vh;
	width: 100%;
}

@mixin view-alt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(24) 0;
}